:root {
  /* Application-wide background, app-wide text color, app-wide font, app-wide text transform */
  --ts-var-root-background: yellow;
  --ts-var-root-color: #1d232f;
  --ts-var-root-font-family: Ga Maamli, Poppins, sans-serif;
}

@font-face {
  font-family: "Ga Maamli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap&subset=latin")
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2)
    format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2)
    format("woff2");
}
