/* Testing hiding of buttons in edit view. */

.button-module__sizeM.button-module__buttonWithText {
  background-color: pink;
}

/* hides the button with the value - this example is the query visualizer button (i) */
/*
button[data-testid='query-visualizer-btn'] {
  display: none;
}
*/

div button[data-testid='query-visualizer-btn'] {
  display: none;
}
